{
  "type": {
    "skill": "skill",
    "perk": "perk",
    "species": "species"
  },
  "color": {
    "black": "#222222",
    "white": "#FFFFFC",
    "lightgreen": "#55FF55",
    "cyan": "#55FFFF",
    "red": "#FF5555"
  },
  "colorAlias": {
    "background_color_unavailable": "gray",
    "background_color_available": "white",
    "background_color_unlocked": "lightgreen",
    "icon_color_unavailable": "gray",
    "icon_color_available": "white",
    "icon_color_unlocked": "lightgreen"
  },
  "icon": {
    "skill": {
      "size": 16,
      "default": "TODO"
    },
    "perk": {
      "size": 24,
      "default": "TODO"
    },
    "species": {
      "size": 32,
      "default": "TODO"
    }
  },
  "line": {
    "width": 2
  },
  "background": {
    "skill": {
      "default": "TODO"
    },
    "perk": {
      "default": "TODO"
    },
    "species": {
      "default": "TODO"
    }
  },
  "defaultStrings": {
    "name": {
      "en_US": "A Skill"
    },
    "description": {
      "en_US": "This is a skill that has not been give a description.\n\nPlease contact the author of the mod that provides this skill about adding one."
    }
  }
}
