{
  "type": {
    "skill": "skill",
    "perk": "perk",
    "species": "species"
  },
  "rarity": {
     "common": "common",
     "uncommon": "uncommon",
     "rare": "rare",
     "epic": "epic"
  },
  "color": {
    "black": "#222222",
    "white": "#FFFFFC",
    "lightgreen": "#55FF55",
    "cyan": "#55FFFF",
    "red": "#FF5555"
  },
  "colorAlias": {
    "background_color_unavailable": "gray",
    "background_color_available": "white",
    "background_color_unlocked": "lightgreen",
    "icon_color_unavailable": "gray",
    "icon_color_available": "white",
    "icon_color_unlocked": "lightgreen"
  },
  "icon": {
    "skill": {
      "size": 18,
      "background": "/isl/skill/assets/skill/background.png",
      "border": "/isl/skill/assets/skill/border.png"
    },
    "perk": {
      "size": 26,
      "background": "/isl/skill/assets/perk/background.png",
      "border": "/isl/skill/assets/perk/border.png"
    },
    "species": {
      "size": 34,
      "background": "/isl/skill/assets/species/background.png",
      "border": "/isl/skill/assets/species/border.png"
    }
  },
  "line": {
    "width": 2
  },
  "defaultStrings": {
    "name": {
      "en_US": "A Skill"
    },
    "description": {
      "en_US": "This is a skill that has not been give a description.\n\nPlease contact the author of the mod that provides this skill about adding one."
    }
  }
}
