{
  "type": {
    "skill": "skill",
    "perk": "perk",
    "species": "species"
  },
  "rarity": {
     "common": "common",
     "uncommon": "uncommon",
     "rare": "rare",
     "epic": "epic"
  },
  "icon": {
    "skill": {
      "size": 20,
      "background": "/isl/skill/assets/skill/background.png",
      "border": "/isl/skill/assets/skill/border.png"
    },
    "perk": {
      "size": 24,
      "background": "/isl/skill/assets/perk/background.png",
      "border": "/isl/skill/assets/perk/border.png"
    },
    "species": {
      "size": 71,
      "background": "/isl/ui/assets/graph_species.png"
    }
  },
  "line": {
    "width": 2
  },
  "defaultStrings": {
    "name": {
      "en_US": "A Skill"
    },
    "description": {
      "en_US": "This is a skill that has not been give a description.\n\nPlease contact the author of the mod that provides this skill about adding one."
    }
  }
}
