{
  "chatOptions": [],
  "charismaChatOptions": [
    {
      "max": 10,
      "message": "Where's my money, <name>?"
    },
    {
      "min": 10,
      "message": "Oh hi <name>!"
    },
    {
      "min": 20,
      "max": 50,
      "message": "You're my favorite customer"
    },
    {
      "min": 30,
      "message": "You are lying. I never hit you. YOU ARE TEARING ME APART, <name>!"
    }
  ],
  "chatCooldown": 15,
  "chatRadius": 10
}
