{
  "gui": {
    "canvas": {
      "zlevel": -20,
      "type": "canvas",
      "rect": [
        203,
        12,
        596,
        315
      ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": true
    },
    "background": {
      "type": "background",
      "fileHeader": "/isl/constellation/assets/header.png",
      "fileBody": "/isl/constellation/assets/body.png"
    },
    "innerShadow": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/constellation/assets/inner_shadow.png",
      "position": [
        198,
        10
      ]
    },
    "bgShine": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/constellation/assets/shine.png",
      "position": [
        -50,
        47
      ]
    },
    "revertButton": {
      "type": "button",
      "position": [
        484,
        15
      ],
      "caption": "^shadow;Revert",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "pressed": "/interface/button.png",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ],
      "callback": "handle_revert_button"
    },
    "applyButton": {
      "type": "button",
      "position": [
        539,
        15
      ],
      "caption": "^shadow;Apply",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "pressed": "/interface/button.png",
      "disabledImage": "/interface/buttongreyed.png",
      "pressedOffset": [
        0,
        0
      ],
      "callback": "handle_apply_button"
    },
    "respecButton": {
      "type": "button",
      "position": [
        208,
        15
      ],
      "caption": "^shadow;Respec",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "pressed": "/interface/button.png",
      "disabledImage": "/interface/buttongreyed.png",
      "pressedOffset": [
        0,
        0
      ],
      "callback": "handle_respec_button"
    },
    "progressLayout": {
      "type": "layout",
      "layoutType": "basic",
      "rect": [
        6,
        9,
        200,
        23
      ],
      "children": {
        "points_count_icon": {
          "type": "image",
          "file": "/isl/constellation/assets/skill_points.png",
          "trim": false,
          "zindex": 10,
          "position": [
            0,
            1
          ]
        },
        "points_count_label": {
          "type": "label",
          "value": "0",
          "position": [
            21,
            2
          ],
          "hAnchor": "left",
          "fontSize": 8
        },
        "motes_to_points_icon": {
          "type": "image",
          "file": "/isl/constellation/assets/skill_mote_to_point.png",
          "position": [
            80,
            1
          ]
        },
        "progress_bar_image": {
          "type": "image",
          "visible": false,
          "file": "/isl/constellation/assets/progress_bar.png",
          "position": [
            106,
            2
          ]
        }
      }
    },
    "headerLayout": {
      "type": "layout",
      "layoutType": "basic",
      "rect": [
        0,
        295,
        200,
        316
      ],
      "children": {
        "playerName": {
          "type": "label",
          "position": [
            32,
            11
          ],
          "hAnchor": "left",
          "value": "Loading..."
        },
        "subtitle": {
          "type": "label",
          "position": [
            32,
            2
          ],
          "hAnchor": "left",
          "value": "^shadow;^#b9b5b2;Character Sheet ^green;[K]"
        },
        "closeButton": {
          "type": "button",
          "position": [
            185,
            5
          ],
          "base": "/interface/x.png",
          "hover": "/interface/xhover.png",
          "pressed": "/interface/xpress.png",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ]
        },
        "portraitFrame": {
          "type": "image",
          "position": [
            4,
            0
          ],
          "file": "/interface/inventory/portrait.png",
          "hAnchor": "mid",
          "vAnchor": "mid"
        },
        "portrait": {
          "type": "canvas",
          "rect": [
            4,
            0,
            28,
            24
          ],
          "captureMouseEvents": false,
          "captureKeyboardEvents": false,
          "zlevel": 20
        }
      }
    },
    "primaryStatsLayout": {
      "type": "layout",
      "layoutType": "basic",
      "rect": [
        0,
        218,
        200,
        295
      ],
      "children": {
        "title": {
          "type": "label",
          "position": [
            101,
            66
          ],
          "hAnchor": "mid",
          "value": "^gray;CURRENT STATS^reset;"
        },
        "portrait": {
          "type": "canvas",
          "rect": [
            68,
            4,
            133,
            69
          ],
          "captureMouseEvents": false,
          "captureKeyboardEvents": false,
          "zlevel": 20
        },
        "strengthButton": {
          "type": "button",
          "position": [
            53,
            47
          ],
          "base": "/isl/constellation/assets/strength.png:default",
          "hover": "/isl/constellation/assets/strength.png:hover",
          "pressed": "/isl/constellation/assets/strength.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_strength_label",
          "tooltipDescriptionStringId": "stats_strength_description",
          "callback": "no_op"
        },
        "isl_strengthAmount": {
          "type": "label",
          "position": [
            50,
            50
          ],
          "hAnchor": "right",
          "value": "100"
        },
        "isl_strengthBonusAmount": {
          "type": "label",
          "position": [
            34,
            50
          ],
          "hAnchor": "right",
          "value": "^orange;(+0)^reset;"
        },
        "precisionButton": {
          "type": "button",
          "position": [
            49,
            26
          ],
          "base": "/isl/constellation/assets/precision.png:default",
          "hover": "/isl/constellation/assets/precision.png:hover",
          "pressed": "/isl/constellation/assets/precision.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_precision_label",
          "tooltipDescriptionStringId": "stats_precision_description",
          "callback": "no_op"
        },
        "isl_precisionAmount": {
          "type": "label",
          "position": [
            46,
            29
          ],
          "hAnchor": "right",
          "value": "100"
        },
        "isl_precisionBonusAmount": {
          "type": "label",
          "position": [
            30,
            29
          ],
          "hAnchor": "right",
          "value": "^orange;(+0)^reset;"
        },
        "witsButton": {
          "type": "button",
          "position": [
            53,
            5
          ],
          "base": "/isl/constellation/assets/wits.png:default",
          "hover": "/isl/constellation/assets/wits.png:hover",
          "pressed": "/isl/constellation/assets/wits.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_wits_label",
          "tooltipDescriptionStringId": "stats_wits_description",
          "callback": "no_op"
        },
        "isl_witsAmount": {
          "type": "label",
          "position": [
            50,
            8
          ],
          "hAnchor": "right",
          "value": "100"
        },
        "isl_witsBonusAmount": {
          "type": "label",
          "position": [
            34,
            8
          ],
          "hAnchor": "right",
          "value": "^orange;(+0)^reset;"
        },
        "defenseButton": {
          "type": "button",
          "position": [
            133,
            47
          ],
          "base": "/isl/constellation/assets/defense.png:default",
          "hover": "/isl/constellation/assets/defense.png:hover",
          "pressed": "/isl/constellation/assets/defense.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_defense_label",
          "tooltipDescriptionStringId": "stats_defense_description",
          "callback": "no_op"
        },
        "isl_defenseAmount": {
          "type": "label",
          "position": [
            151,
            50
          ],
          "hAnchor": "left",
          "value": "100"
        },
        "isl_defenseBonusAmount": {
          "type": "label",
          "position": [
            167,
            50
          ],
          "hAnchor": "left",
          "value": "^orange;(+0)^reset;"
        },
        "evasionButton": {
          "type": "button",
          "position": [
            137,
            26
          ],
          "base": "/isl/constellation/assets/evasion.png:default",
          "hover": "/isl/constellation/assets/evasion.png:hover",
          "pressed": "/isl/constellation/assets/evasion.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_evasion_label",
          "tooltipDescriptionStringId": "stats_evasion_description",
          "callback": "no_op"
        },
        "isl_evasionAmount": {
          "type": "label",
          "position": [
            155,
            29
          ],
          "hAnchor": "left",
          "value": "100"
        },
        "isl_evasionBonusAmount": {
          "type": "label",
          "position": [
            171,
            29
          ],
          "hAnchor": "left",
          "value": "^orange;(+0)^reset;"
        },
        "focusButton": {
          "type": "button",
          "position": [
            133,
            5
          ],
          "base": "/isl/constellation/assets/focus.png:default",
          "hover": "/isl/constellation/assets/focus.png:hover",
          "pressed": "/isl/constellation/assets/focus.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_focus_label",
          "tooltipDescriptionStringId": "stats_focus_description",
          "callback": "no_op"
        },
        "isl_focusAmount": {
          "type": "label",
          "position": [
            151,
            8
          ],
          "hAnchor": "left",
          "value": "100"
        },
        "isl_focusBonusAmount": {
          "type": "label",
          "position": [
            167,
            8
          ],
          "hAnchor": "left",
          "value": "^orange;(+0)^reset;"
        }
      }
    },
    "secondaryStatsLayout": {
      "type": "layout",
      "layoutType": "basic",
      "rect": [
        0,
        190,
        200,
        216
      ],
      "children": {
        "vigorButton": {
          "type": "button",
          "position": [
            26,
            10
          ],
          "base": "/isl/constellation/assets/vigor_small.png:default",
          "hover": "/isl/constellation/assets/vigor_small.png:hover",
          "pressed": "/isl/constellation/assets/vigor_small.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_vigor_label",
          "tooltipDescriptionStringId": "stats_vigor_description",
          "callback": "no_op"
        },
        "isl_vigorAmount": {
          "type": "label",
          "position": [
            23,
            11
          ],
          "hAnchor": "right",
          "value": "0"
        },
        "mobilityButton": {
          "type": "button",
          "position": [
            62,
            10
          ],
          "base": "/isl/constellation/assets/mobility_small.png:default",
          "hover": "/isl/constellation/assets/mobility_small.png:hover",
          "pressed": "/isl/constellation/assets/mobility_small.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_mobility_label",
          "tooltipDescriptionStringId": "stats_mobility_description",
          "callback": "no_op"
        },
        "isl_mobilityAmount": {
          "type": "label",
          "position": [
            61,
            11
          ],
          "hAnchor": "right",
          "value": "0"
        },
        "charismaButton": {
          "type": "button",
          "position": [
            93,
            10
          ],
          "base": "/isl/constellation/assets/charisma.png:default",
          "hover": "/isl/constellation/assets/charisma.png:hover",
          "pressed": "/isl/constellation/assets/charisma.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_charisma_label",
          "tooltipDescriptionStringId": "stats_charisma_description",
          "callback": "no_op"
        },
        "isl_charismaAmount": {
          "type": "label",
          "position": [
            101,
            0
          ],
          "hAnchor": "mid",
          "value": "0"
        },
        "celerityButton": {
          "type": "button",
          "position": [
            125,
            10
          ],
          "base": "/isl/constellation/assets/celerity_small.png:default",
          "hover": "/isl/constellation/assets/celerity_small.png:hover",
          "pressed": "/isl/constellation/assets/celerity_small.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_celerity_label",
          "tooltipDescriptionStringId": "stats_celerity_description",
          "callback": "no_op"
        },
        "isl_celerityAmount": {
          "type": "label",
          "position": [
            139,
            11
          ],
          "hAnchor": "left",
          "value": "0"
        },
        "savageryButton": {
          "type": "button",
          "position": [
            166,
            10
          ],
          "base": "/isl/constellation/assets/savagery_small.png:default",
          "hover": "/isl/constellation/assets/savagery_small.png:hover",
          "pressed": "/isl/constellation/assets/savagery_small.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipTitleStringId": "stats_savagery_label",
          "tooltipDescriptionStringId": "stats_savagery_description",
          "callback": "no_op"
        },
        "isl_savageryAmount": {
          "type": "label",
          "position": [
            180,
            11
          ],
          "hAnchor": "left",
          "value": "0"
        }
      }
    },
    "perksLabel": {
      "type": "label",
      "position": [101,174],
      "hAnchor": "mid",
      "value": "^shadow;PERKS"
    },
    "perksScrollArea": {
      "type": "scrollArea",
      "rect": [
        6,
        33,
        199,
        171
      ],
      "children": {
        "perksList": {
          "type": "list",
          "fillDown": true,
          "schema": {
            "spacing": [0, 2],
            "memberSize": [150, 30],
            "listTemplate": {
              "perkFrame": {
                "type": "image",
                "file": "/isl/constellation/assets/perk_background.png",
                "position": [
                  0,
                  0
                ]
              },
              "perkTypeIcon": {
                "type": "image",
                "file": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png",
                "position": [
                  9,
                  21
                ],
                "centered": true,
                "trim": false,
                "zlevel": 30
              },
              "perkNameLabel": {
                "type": "label",
                "position": [
                  5,
                  40
                ],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 130
              },
              "perkDetailsLabel": {
                "type": "label",
                "position": [
                  20,
                  28
                ],
                "hAnchor": "left",
                "vAnchor": "top",
                "wrapWidth": 130,
                "fontSize": 7
              }
            }
          }
        }
      }
    }
  },
  "tooltipLayouts": {
    "stat": {
      "background": {
        "type": "background",
        "fileHeader": "/isl/constellation/stats/assets/tooltipheader.png",
        "fileBody": "/isl/constellation/stats/assets/tooltipbody.png",
        "fileFooter": "/isl/constellation/stats/assets/tooltipfooter.png"
      },
      "title": {
        "type": "label",
        "position": [
          11,
          103
        ],
        "hAnchor": "left",
        "vAnchor": "top",
        "wrapWidth": 220
      },
      "description": {
        "type": "label",
        "position": [
          11,
          94
        ],
        "hAnchor": "left",
        "vAnchor": "top",
        "wrapWidth": 220
      },
      "details": {
        "type": "label",
        "position": [
          11,
          79
        ],
        "hAnchor": "left",
        "vAnchor": "top",
        "wrapWidth": 220
      }
    },
    "bonus": {},
    "perk": {}
  },
  "canvasClickCallbacks": {
    "canvas": "handle_canvas_mouse_event"
  },
  "scriptWidgetCallbacks": [
    "closeButton",
    "no_op",
    "handle_revert_button",
    "handle_apply_button",
    "handle_respec_button"
  ],
  "scripts": [
    "/isl/constellation/constellation.lua"
  ],
  "scriptDelta": 1
}
