{
  "background": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus.png:default",
    "melee": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus.png:melee",
    "ranged": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus.png:ranged",
    "magical": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus.png:magical"
  },
  "icon": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:default.png",
    "strength": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:strength.png",
    "precision": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:precision.png",
    "wits": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:wits.png",
    "defense": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:defense.png",
    "evasion": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:evasion.png",
    "energy": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:energy.png",
    "health": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:health.png",
    "mobility": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_icon:mobility.png"
  },
  "mask": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_bonus_mask.png"
  }
}
