{
  "background": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_perk.png:default:available"
  },
  "icon": {
    "default": "/interface/title/humanmale.png"
  },
  "mask": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_perk_mask.png"
  }
}
