{
  "background": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_perk.png:default"
  },
  "icon": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_perk_default.png"
  },
  "mask": {
    "default": "/isl/ui/charactersheet/components/skilltree/nodes/assets/graph_perk_mask.png"
  }
}
