{
  "stats": {
    // Primary Stats
    "isl_strength": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/strength.lua"
    },
    "isl_precision": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/precision.lua"
    },
    "isl_wits": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/wits.lua"
    },
    "isl_defense": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/defense.lua"
    },
    "isl_evasion": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/evasion.lua"
    },
    "isl_focus": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/focus.lua"
    },
    // Secondary Stats
    "isl_vigor": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/vigor.lua"
    },
    "isl_mobility": {
      "default": 0,
      "movementEffectHandler": "/isl/player_stats/effects/mobility.lua"
    },
    "isl_charisma": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/charisma.lua"
    },
    "isl_celerity": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/celerity.lua"
    },
    "isl_savagery": {
      "default": 0,
      "persistentEffectsHandler": "/isl/player_stats/effects/savagery.lua"
    }
  }
}
