{
  "isl_strength": {
    "defaultAmount": 0
  },
  "isl_precision": {
    "defaultAmount": 0
  },
  "isl_wits": {
    "defaultAmount": 0
  },
  "isl_defense": {
    "defaultAmount": 0
  },
  "isl_evasion": {
    "defaultAmount": 0
  },
  "isl_energy": {
    "defaultAmount": 100
  },
  "isl_health": {
    "defaultAmount": 100
  },
  "isl_mobility": {
    "defaultAmount": 0
  }
}
