{
  "background": {
    "type": "background",
    "fileHeader": "/isl/constellation/skilltree/nodes/assets/bonus_tooltip_header.png",
    "fileBody": "/isl/constellation/skilltree/nodes/assets/bonus_tooltip_body.png",
    "fileFooter": "/isl/constellation/skilltree/nodes/assets/bonus_tooltip_footer.png"
  },
  "details": {
    "type": "label",
    "position": [
      11,
      50
    ],
    "hAnchor": "left",
    "vAnchor": "top",
    "wrapWidth": 220
  }
}
