{
  "background": {
    "melee": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:melee",
    "melee_vigor": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:melee_vigor",
    "melee_utility": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:melee_utility",
    "ranged": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:ranged",
    "ranged_vigor": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:ranged_vigor",
    "ranged_utility": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:ranged_utility",
    "magical": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:magical",
    "magical_vigor": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:magical_vigor",
    "magical_utility": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:magical_utility",
    "utility": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:utility",
    "utility_vigor": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:utility_vigor",
    "vigor": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:vigor",
    "default": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png:utility"
  }
}
