{
  "background": {
    "type": "background",
    "fileHeader": "/isl/constellation/skilltree/nodes/assets/perk_tooltip_header.png",
    "fileBody": "/isl/constellation/skilltree/nodes/assets/perk_tooltip_body.png",
    "fileFooter": "/isl/constellation/skilltree/nodes/assets/perk_tooltip_footer.png"
  },
  "perkFrame": {
    "type": "image",
    "file": "/isl/constellation/assets/perk_background.png",
    "position": [
      4,
      27
    ]
  },
  "perkTypeIcon": {
    "type": "image",
    "file": "/isl/constellation/skilltree/nodes/assets/graph_bonus.png",
    "position": [
      13,
      48
    ],
    "centered": true,
    "trim": false,
    "minSize": [25,25],
    "maxSize": [25,25]
  },
  "perkNameLabel": {
    "type": "label",
    "position": [
      9,
      67
    ],
    "hAnchor": "left",
    "vAnchor": "top",
    "wrapWidth": 128
  },
  "perkDetailsLabel": {
    "type": "label",
    "position": [
      24,
      55
    ],
    "hAnchor": "left",
    "vAnchor": "top",
    "wrapWidth": 128,
    "fontSize": 7
  },
  "admin_label": {
    "type": "label",
    "position": [
      11,
      8
    ],
    "hAnchor": "left",
    "visible": false
  },
  "shine": {
    "type": "image",
    "file": "/isl/constellation/skilltree/nodes/assets/perk_tooltip_shine.png",
    "position": [0,0],
    "zlevel": 50
  }
}
