{
  "background": {
    "melee": "/isl/constellation/skilltree/nodes/assets/graph_perk.png:melee",
    "ranged": "/isl/constellation/skilltree/nodes/assets/graph_perk.png:ranged",
    "magical": "/isl/constellation/skilltree/nodes/assets/graph_perk.png:magical",
    "utility": "/isl/constellation/skilltree/nodes/assets/graph_perk.png:utility",
    "health": "/isl/constellation/skilltree/nodes/assets/graph_perk.png:health",
    "default": "/isl/constellation/skilltree/nodes/assets/graph_perk.png:utility"
  }
}
