{
  "background": {
    "default": "/isl/constellation/skilltree/nodes/assets/graph_species.png"
  },
  "icon": {
    "default": "/isl/constellation/skilltree/nodes/assets/graph_species_default.png"
  },
  "mask": {
    "default": "/isl/constellation/skilltree/nodes/assets/graph_species_mask.png"
  }
}
