{
  "name": "default_species_melee",
  "skills": {
    "default_species_melee_bonus_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        50,
        0
      ],
      "children": [
        "default_species_melee_bonus_2"
      ]
    },
    "default_species_melee_bonus_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        85,
        0
      ],
      "children": [
        "default_species_melee_bonus_3"
      ]
    },
    "default_species_melee_bonus_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        120,
        0
      ],
      "children": [
        "the_warrior"
      ]
    }
  },
  "children": {}
}
