{
  "name": "default_species_ranged",
  "skills": {
    "default_species_ranged_bonus_1": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        0,
        50
      ],
      "children": [
        "default_species_ranged_bonus_2"
      ]
    },
    "default_species_ranged_bonus_2": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        0,
        85
      ],
      "children": [
        "default_species_ranged_bonus_3"
      ]
    },
    "default_species_ranged_bonus_3": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        0,
        120
      ],
      "children": [
        "the_warrior"
      ]
    }
  },
  "children": {}
}
