{
  "name": "default_species_melee_ranged_hybrid",
  "skills": {
    "default_species_melee_ranged_bonus_ranged": {
      "type": "bonus",
      "bonusType": "evasion",
      "position": [
        100,
        10
      ],
      "children": [
        "default_species_melee_ranged_bonus_1"
      ]
    },
    "default_species_melee_ranged_bonus_melee": {
      "type": "bonus",
      "bonusType": "mobility",
      "position": [
        100,
        -10
      ],
      "children": [
        "default_species_melee_ranged_bonus_2"
      ]
    },
    "default_species_melee_ranged_bonus_1": {
      "type": "bonus",
      "bonusType": "evasion",
      "position": [
        130,
        35
      ],
      "children": [
        "default_species_melee_ranged_bonus_1_1"
      ]
    },
    "default_species_melee_ranged_bonus_1_1": {
      "type": "bonus",
      "bonusType": "evasion",
      "position": [
        160,
        10
      ],
      "children": []
    },
    "default_species_melee_ranged_bonus_2": {
      "type": "bonus",
      "bonusType": "mobility",
      "position": [
        130,
        -35
      ],
      "children": [
        "default_species_melee_ranged_bonus_2_1"
      ]
    },
    "default_species_melee_ranged_bonus_2_1": {
      "type": "bonus",
      "bonusType": "mobility",
      "position": [
        160,
        -10
      ],
      "children": []
    }
  },
  "children": {}
}
