{
  "name": "species_default",
  "skills": {
    "start": {
      "type": "species",
      "children": [
        "default_species_melee_bonus_1",
        "default_species_melee_bonus_2",
        "default_species_ranged_bonus_1",
        "default_species_ranged_bonus_2",
        "default_species_magical_bonus_1",
        "default_species_magical_bonus_2"
      ],
      "unlocks": {
        "stats": {
          "isl_strength": { "amount": 10 },
          "isl_precision": { "amount": 10 },
          "isl_wits": { "amount": 10 }
        }
      }
    }
  },
  "children": {
    "default_species_melee": {
      "path": "/isl/skillgraph/modules/species/default/default_species_melee.config",
      "rotation": 90
    },
    "default_species_ranged": {
      "path": "/isl/skillgraph/modules/species/default/default_species_ranged.config",
      "rotation": 210
    },
    "default_species_magical": {
      "path": "/isl/skillgraph/modules/species/default/default_species_magical.config",
      "rotation": 330
    }
  }
}
