{
  "name": "default_species_melee",
  "skills": {
    "default_species_melee_bonus_1": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        60,
        -40
      ],
      "children": [
        "default_species_melee_bonus_1_2"
      ]
    },
    "default_species_melee_bonus_1_2": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        95,
        -20
      ],
      "children": [
        "default_species_melee_bonus_end"
      ]
    },
    "default_species_melee_bonus_2": {
      "type": "bonus",
      "bonusType": "strength_evasion",
      "position": [
        60,
        40
      ],
      "children": [
        "default_species_melee_bonus_2_2"
      ]
    },
    "default_species_melee_bonus_2_2": {
      "type": "bonus",
      "bonusType": "strength_evasion",
      "position": [
        95,
        20
      ],
      "children": [
        "default_species_melee_bonus_end"
      ]
    },
    "default_species_melee_bonus_end": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        130,
        0
      ],
      "children": [
        "the_warrior"
      ]
    }
  },
  "children": {}
}
