{
  "name": "default_species_melee",
  "skills": {
    "dsm_bonus_1": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        52.0,
        -30
      ],
      "children": [
        "dsm_bonus_1_2",
        "dsmm_bonus_melee"
      ]
    },
    "dsm_bonus_1_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        81.0,
        -22.3
      ],
      "children": [
        "dsm_bonus_1_3"
      ]
    },
    "dsm_bonus_1_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        125.0,
        -22.3
      ],
      "children": [
        "dsm_bonus_3"
      ]
    },
    "dsm_bonus_2": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        52.0,
        30.0
      ],
      "children": [
        "dsm_bonus_2_2",
        "dsmr_bonus_melee"
      ]
    },
    "dsm_bonus_2_2": {
      "type": "bonus",
      "bonusType": "vigor",
      "position": [
        81.0,
        22.3
      ],
      "children": [
        "dsm_bonus_2_3"
      ]
    },
    "dsm_bonus_2_3": {
      "type": "bonus",
      "bonusType": "vigor",
      "position": [
        125.0,
        22.3
      ],
      "children": [
        "dsm_bonus_3"
      ]
    },
    "dsm_bonus_3": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        145,
        0
      ],
      "children": [
        "bravery",
        "dsm_bonus_4_1",
        "dsm_bonus_4_2"
      ]
    },
    "bravery": {
      "type": "perk",
      "perkType": "melee",
      "strings": {
        "name": "perk_bravery_name",
        "description": "perk_bravery_description"
      },
      "position": [
        105,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_bravery"
    },
    "dsm_bonus_4_1": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        225,
        -12.5
      ],
      "children": [
        "dsm_bonus_5"
      ]
    },
    "dsm_bonus_4_2": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        225,
        12.5
      ],
      "children": [
        "dsm_bonus_5"
      ]
    },
    "dsm_bonus_5": {
      "type": "bonus",
      "bonusType": "strength_vigor",
      "position": [
        245,
        0
      ],
      "children": ["cm_bonus_1"]
    }
  },
  "children": {}
}
