{
  "name": "default_species_ranged_magical_hybrid",
  "skills": {
    "dsrm_bonus_magical": {
      "type": "bonus",
      "bonusType": "focus",
      "position": [
        100,
        10
      ],
      "children": [
        "dsrm_bonus_1"
      ]
    },
    "dsrm_bonus_ranged": {
      "type": "bonus",
      "bonusType": "savagery",
      "position": [
        100,
        -10
      ],
      "children": [
        "dsrm_bonus_2"
      ]
    },
    "dsrm_bonus_1": {
      "type": "bonus",
      "bonusType": "focus",
      "position": [
        130,
        35
      ],
      "children": [
        "dsrm_bonus_1_1"
      ]
    },
    "dsrm_bonus_1_1": {
      "type": "bonus",
      "bonusType": "focus",
      "position": [
        160,
        10
      ],
      "children": ["dsrm_bonus_3", "explosive"]
    },
    "dsrm_bonus_2": {
      "type": "bonus",
      "bonusType": "savagery",
      "position": [
        130,
        -35
      ],
      "children": [
        "dsrm_bonus_2_1"
      ]
    },
    "dsrm_bonus_2_1": {
      "type": "bonus",
      "bonusType": "savagery",
      "position": [
        160,
        -10
      ],
      "children": ["dsrm_bonus_3", "explosive"]
    },
    "explosive": {
      "type": "perk",
      "perkType": "vigor",
      "strings": {
        "name": "perk_explosive_name",
        "description": "perk_explosive_description"
      },
      "position": [
        130,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_explosive"
    },
    "dsrm_bonus_3": {
      "type": "bonus",
      "bonusType": "focus_savagery",
      "position": [
        195,
        0
      ],
      "children": ["dsrm_bonus_4"]
    },
    "dsrm_bonus_4": {
      "type": "bonus",
      "bonusType": "focus_savagery",
      "position": [
        230,
        0
      ],
      "children": ["dsrm_bonus_5"]
    },
    "dsrm_bonus_5": {
      "type": "bonus",
      "bonusType": "focus_savagery",
      "position": [
        265,
        0
      ],
      "children": ["dsrm_bonus_6"]
    },
    "dsrm_bonus_6": {
      "type": "bonus",
      "bonusType": "focus_savagery",
      "position": [
        300,
        0
      ],
      "children": []
    }
  },
  "children": {}
}