{
  "name": "species_default",
  "skills": {
    "start": {
      "type": "species",
      "children": [
        "default_species_melee_bonus_1",
        "default_species_ranged_bonus_1",
        "default_species_magical_bonus_1"
      ],
      "stats": {
        "isl_strength": 10,
        "isl_precision": 10,
        "isl_wits": 10
      }
    }
  },
  "children": {
    "default_species_melee": {
      "path": "/isl/skillgraph/modules/species/default/default_species_melee.config",
      "rotation": 90
    },
    "default_species_ranged": {
      "path": "/isl/skillgraph/modules/species/default/default_species_ranged.config",
      "rotation": 120
    },
    "default_species_magical": {
      "path": "/isl/skillgraph/modules/species/default/default_species_magical.config",
      "rotation": 240
    }
  }
}
