{
  "name": "default_species_melee_magical_hybrid",
  "skills": {
    "dsmm_bonus_magical": {
      "type": "bonus",
      "bonusType": "celerity",
      "position": [
        100,
        10
      ],
      "children": [
        "dsmm_bonus_1"
      ]
    },
    "dsmm_bonus_melee": {
      "type": "bonus",
      "bonusType": "mobility",
      "position": [
        100,
        -10
      ],
      "children": [
        "dsmm_bonus_2"
      ]
    },
    "dsmm_bonus_1": {
      "type": "bonus",
      "bonusType": "charisma",
      "position": [
        130,
        35
      ],
      "children": [
        "dsmm_bonus_1_1"
      ]
    },
    "dsmm_bonus_1_1": {
      "type": "bonus",
      "bonusType": "charisma",
      "position": [
        160,
        10
      ],
      "children": ["dsmm_bonus_3", "nimble"]
    },
    "dsmm_bonus_2": {
      "type": "bonus",
      "bonusType": "mobility",
      "position": [
        130,
        -35
      ],
      "children": [
        "dsmm_bonus_2_1"
      ]
    },
    "dsmm_bonus_2_1": {
      "type": "bonus",
      "bonusType": "mobility",
      "position": [
        160,
        -10
      ],
      "children": ["dsmm_bonus_3", "nimble"]
    },
    "nimble": {
      "type": "perk",
      "perkType": "utility",
      "strings": {
        "name": "perk_nimble_name",
        "description": "perk_nimble_description"
      },
      "position": [
        130,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_nimble"
    },
    "dsmm_bonus_3": {
      "type": "bonus",
      "bonusType": "charisma_mobility",
      "position": [
        195,
        0
      ],
      "children": ["dsmm_bonus_4"]
    },
    "dsmm_bonus_4": {
      "type": "bonus",
      "bonusType": "charisma_mobility",
      "position": [
        230,
        0
      ],
      "children": ["dsmm_bonus_5"]
    },
    "dsmm_bonus_5": {
      "type": "bonus",
      "bonusType": "charisma_mobility",
      "position": [
        265,
        0
      ],
      "children": ["dsmm_bonus_6"]
    },
    "dsmm_bonus_6": {
      "type": "bonus",
      "bonusType": "charisma_mobility",
      "position": [
        300,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
