{
  "gui": {
    "canvas": {
      "zlevel": -20,
      "type": "canvas",
      "rect": [
        4,
        4,
        397,
        296
      ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": true
    },
    "background": {
      "zlevel": -1,
      "type": "background",
      "fileHeader": "/isl/skilltree/header.png",
      "fileBody": "/isl/skilltree/body.png"
    },
    "title": {
      "type": "label",
      "position": [
        500,
        289
      ],
      "hAnchor": "mid",
      "value": "Skills"
    }
  },
  "canvasClickCallbacks": {
    "canvas": "canvasClickEvent"
  },
  "scripts": [
    "/isl/skilltree/skilltree.lua"
  ],
  "scriptDelta": 1
}
