{
  "name": "common_melee",
  "skills": {
    "warriors_grit": {
      "type": "perk",
      "icon": "/interface/title/humanmale.png",
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        0,
        0
      ],
      "children": [
        "common_melee_bonus_1"
      ],
      "unlocks": {
        "stats": {
          "isl_strength": {
            "multiplier": 1.05
          },
          "isl_defense": {
            "multiplier": 1.05
          }
        }
      },
      "effectName": "isl_perk_warriors_grit"
    },
    "common_melee_bonus_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        50,
        0
      ],
      "children": [
        "common_melee_bonus_2"
      ]
    },
    "common_melee_bonus_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
