{
  "name": "common_melee",
  "skills": {
    "cm_bonus_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        0,
        0
      ],
      "children": [
        "cm_bonus_2_1",
        "cm_bonus_2_2"
      ]
    },
    "cm_bonus_2_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        20.0,
        -12.5
      ],
      "children": [
        "warriors_grit",
        "cm_bonus_3",
        "cm_bonus_11_1"
      ]
    },
    "cm_bonus_2_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        20.0,
        12.5
      ],
      "children": [
        "warriors_grit",
        "cm_bonus_7",
        "cm_bonus_11_2"
      ]
    },
    "warriors_grit": {
      "type": "perk",
      "perkType": "melee",
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        50,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        25.5,
        -133.5
      ],
      "children": [
        "cm_bonus_4"
      ]
    },
    "cm_bonus_4": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -41.5,
        -250.5
      ],
      "children": [
        "cm_bonus_6_1"
      ]
    },
    "cm_bonus_6_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -149.0,
        -305.5
      ],
      "children": [
        "cm_tbd_perk_1"
      ]
    },
    "cm_bonus_6_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -171.0,
        -318.0
      ],
      "children": [
        "cm_tbd_perk_1"
      ]
    },
    "cm_bonus_5": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -170.0,
        -294.5
      ],
      "children": [
        "cm_bonus_6_1",
        "cm_bonus_6_2"
      ]
    },
    "cm_tbd_perk_1": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        -145,
        -337.5
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_7": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        25.5,
        133.5
      ],
      "children": [
        "cm_bonus_8"
      ]
    },
    "cm_bonus_8": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -41.5,
        250.5
      ],
      "children": [
        "cm_bonus_10_1"
      ]
    },
    "cm_bonus_10_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -149.0,
        305.5
      ],
      "children": [
        "cm_tbd_perk_2"
      ]
    },
    "cm_bonus_10_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -171.0,
        318.0
      ],
      "children": [
        "cm_tbd_perk_2"
      ]
    },
    "cm_bonus_9": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        -170.0,
        294.5
      ],
      "children": [
        "cm_bonus_10_1",
        "cm_bonus_10_2"
      ]
    },
    "cm_tbd_perk_2": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        -145,
        337.5
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_11_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        135.0,
        -40.0
      ],
      "children": [
        "cm_bonus_11_1_1",
        "cm_bonus_11_1_2",
        "cm_bonus_12_1"
      ]
    },
    "cm_bonus_11_1_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        120.0,
        -55.0
      ],
      "children": [
        "cm_bonus_11_1_3"
      ]
    },
    "cm_bonus_11_1_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        150.0,
        -55.0
      ],
      "children": [
        "cm_bonus_11_1_3"
      ]
    },
    "cm_bonus_11_1_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        135.0,
        -70.0
      ],
      "children": []
    },
    "cm_bonus_11_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        135.0,
        40.0
      ],
      "children": [
        "cm_bonus_11_2_1",
        "cm_bonus_11_2_2",
        "cm_bonus_12_3"
      ]
    },
    "cm_bonus_11_2_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        120.0,
        55.0
      ],
      "children": [
        "cm_bonus_11_2_3"
      ]
    },
    "cm_bonus_11_2_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        150.0,
        55.0
      ],
      "children": [
        "cm_bonus_11_2_3"
      ]
    },
    "cm_bonus_11_2_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        135.0,
        70.0
      ],
      "children": []
    },
    "cm_bonus_12_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        235.0,
        -20.0
      ],
      "children": [
        "cm_bonus_12_2",
        "cm_bonus_13_1"
      ]
    },
    "cm_bonus_12_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        250.0,
        0.0
      ],
      "children": [
        "cm_tbd_perk_3"
      ]
    },
    "cm_bonus_12_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        235.0,
        20.0
      ],
      "children": [
        "cm_bonus_12_2",
        "cm_bonus_13_2"
      ]
    },
    "cm_tbd_perk_3": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        280,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_13_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        310.0,
        -80.0
      ],
      "children": [
        "cm_bonus_14_1_1"
      ]
    },
    "cm_bonus_13_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        310.0,
        80.0
      ],
      "children": [
        "cm_bonus_14_2_1"
      ]
    },
    "cm_bonus_14_1_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        380.0,
        -80.0
      ],
      "children": [
        "cm_bonus_14_1_2",
        "cm_bonus_14_1_3"
      ]
    },
    "cm_bonus_14_1_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        402.5,
        -87.5
      ],
      "children": [
        "cm_bonus_14_1_3"
      ]
    },
    "cm_bonus_14_1_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        400.0,
        -65.0
      ],
      "children": [
        "cm_bonus_15_1"
      ]
    },
    "cm_bonus_14_2_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        380.0,
        80.0
      ],
      "children": [
        "cm_bonus_14_2_2",
        "cm_bonus_14_2_3"
      ]
    },
    "cm_bonus_14_2_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        402.5,
        87.5
      ],
      "children": [
        "cm_bonus_14_2_3"
      ]
    },
    "cm_bonus_14_2_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        400.0,
        65.0
      ],
      "children": [
        "cm_bonus_15_2"
      ]
    },
    "cm_bonus_15_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        435.0,
        -30.0
      ],
      "children": [
        "cm_tbd_perk_4",
        "cm_bonus_16_1"
      ]
    },
    "cm_bonus_15_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        435.0,
        30.0
      ],
      "children": [
        "cm_tbd_perk_4",
        "cm_bonus_16_2"
      ]
    },
    "cm_tbd_perk_4": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        455,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_16_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        515.0,
        -50.0
      ],
      "children": [
        "cm_bonus_17_1",
        "cm_bonus_18_1"
      ]
    },
    "cm_bonus_16_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        515.0,
        50.0
      ],
      "children": [
        "cm_bonus_17_2",
        "cm_bonus_18_2"
      ]
    },
    "cm_bonus_17_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        515.0,
        -75.0
      ],
      "children": [
        "cm_bonus_20_1_2"
      ]
    },
    "cm_bonus_17_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        515.0,
        75.0
      ],
      "children": [
        "cm_bonus_20_2_2"
      ]
    },
    "cm_bonus_18_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        590.0,
        -25.0
      ],
      "children": [
        "cm_tbd_perk_5",
        "cm_bonus_19"
      ]
    },
    "cm_bonus_18_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        590.0,
        25.0
      ],
      "children": [
        "cm_tbd_perk_5",
        "cm_bonus_19"
      ]
    },
    "cm_tbd_perk_5": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        590,
        0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_19": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        610.0,
        0.0
      ],
      "children": [
        "cm_bonus_20_1_3",
        "cm_bonus_20_2_3"
      ]
    },
    "cm_bonus_20_1_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        605.0,
        -105.0
      ],
      "children": [
        "cm_bonus_20_1_2"
      ]
    },
    "cm_bonus_20_1_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        615.0,
        -80.0
      ],
      "children": [
        "cm_bonus_20_1_1",
        "cm_bonus_20_1_3"
      ]
    },
    "cm_bonus_20_1_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        640.0,
        -75.0
      ],
      "children": [
        "cm_tbd_perk_6",
        "cm_bonus_21_1_1"
      ]
    },
    "cm_tbd_perk_6": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        635,
        -100
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_20_2_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        605.0,
        105.0
      ],
      "children": [
        "cm_bonus_20_2_2"
      ]
    },
    "cm_bonus_20_2_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        615.0,
        80.0
      ],
      "children": [
        "cm_bonus_20_2_1",
        "cm_bonus_20_2_3"
      ]
    },
    "cm_bonus_20_2_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        640.0,
        75.0
      ],
      "children": [
        "cm_tbd_perk_7",
        "cm_bonus_21_2_1"
      ]
    },
    "cm_tbd_perk_7": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        635,
        100
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_21_1_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        730.0,
        -65.0
      ],
      "children": ["cm_bonus_21_1_2", "cm_bonus_21_1_3", "cm_bonus_21_2_1"]
    },
    "cm_bonus_21_1_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        744.0,
        -90.5
      ],
      "children": ["cm_bonus_21_1_4"]
    },
    "cm_bonus_21_1_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        759.0,
        -64.5
      ],
      "children": ["cm_bonus_21_1_4"]
    },
    "cm_bonus_21_1_4": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        773.25,
        -90.0
      ],
      "children": ["cm_bonus_21_1_5", "cm_bonus_21_1_6"]
    },
    "cm_bonus_21_1_5": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        782.5,
        -124.0
      ],
      "children": ["cm_tbd_perk_8"]
    },
    "cm_bonus_21_1_6": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        807.5,
        -81.0
      ],
      "children": ["cm_tbd_perk_8"]
    },
    "cm_tbd_perk_8": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        816.5,
        -115.0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    },
    "cm_bonus_21_2_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        730.0,
        65.0
      ],
      "children": ["cm_bonus_21_2_2", "cm_bonus_21_2_3"]
    },
    "cm_bonus_21_2_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        744.0,
        90.5
      ],
      "children": ["cm_bonus_21_2_4"]
    },
    "cm_bonus_21_2_3": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        759.0,
        64.5
      ],
      "children": ["cm_bonus_21_2_4"]
    },
    "cm_bonus_21_2_4": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        773.25,
        90.0
      ],
      "children": ["cm_bonus_21_2_5", "cm_bonus_21_2_6"]
    },
    "cm_bonus_21_2_5": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        782.5,
        124.0
      ],
      "children": ["cm_tbd_perk_9"]
    },
    "cm_bonus_21_2_6": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        807.5,
        81.0
      ],
      "children": ["cm_tbd_perk_9"]
    },
    "cm_tbd_perk_9": {
      "type": "perk",
      "perkType": "melee",
      "locked": true,
      "strings": {
        "name": "perk_warriors_grit_name",
        "description": "perk_warriors_grit_description"
      },
      "position": [
        816.5,
        115.0
      ],
      "children": [],
      "unlocks": {},
      "effectName": "isl_perk_warriors_grit"
    }
  },
  "children": {}
}
