{
  "color": {
    "black": "#222222",
    "darkgray": "#666666",
    "gray": "#CCCCCC",
    "white": "#FFFFFC",
    "lightgreen": "#55FF55",
    "cyan": "#55FFFF",
    "red": "#FF5555",
    "melee": "#FFD752",
    "ranged": "#51B9FF",
    "magical": "#3FE8AE",
    "vital": "#A8281D",
    "speedy": "#74C6F0"
  },
  "colorAlias": {
    "background_color_unavailable": "gray",
    "background_color_available": "white",
    "background_color_unlocked": "lightgreen",
    "background_color_default": "white",
    "icon_color_unavailable": "gray",
    "icon_color_available": "white",
    "icon_color_unlocked": "lightgreen",
    "line_color_unlocked": "lightgreen",
    "line_color_available": "white",
    "line_color_default": "darkgray",
    "line_color_recess": "darkgray",
    "line_color_highlight": "gray"
  }
}
