{
  "skill_up_effect_label": {
    "en_US": "Skill Up!"
  },
  "constellation_subtitle": {
    "en_US": "^shadow;^#b9b5b2;Your progression and perks"
  },
  "stats_strength_label": {
    "en_US": "^shadow;^#ffd752;Strength"
  },
  "stats_strength_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful melee combat"
  },
  "stats_precision_label": {
    "en_US": "^shadow;^#51b9ff;Precision"
  },
  "stats_precision_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful ranged combat"
  },
  "stats_wits_label": {
    "en_US": "^shadow;^#3fe8ae;Wits"
  },
  "stats_wits_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful magical attacks"
  },
  "stats_defense_label": {
    "en_US": "^shadow;^#ffd752;Defense"
  },
  "stats_defense_description": {
    "en_US": "^shadow;^#b9b5b2;Reduce incoming damage"
  },
  "stats_evasion_label": {
    "en_US": "^shadow;^#51b9ff;Evasion"
  },
  "stats_evasion_description": {
    "en_US": "^shadow;^#b9b5b2;Chance to dodge attacks"
  },
  "stats_focus_label": {
    "en_US": "^shadow;^#3fe8ae;Focus"
  },
  "stats_focus_description": {
    "en_US": "^shadow;^#b9b5b2;More maximum Energy"
  },
  "stats_mobility_label": {
    "en_US": "^shadow;^#74C6F0;Mobility"
  },
  "stats_mobility_description": {
    "en_US": "^shadow;^#b9b5b2;Move faster, Jump higher"
  },
  "stats_vigor_label": {
    "en_US": "^shadow;^#a8281d;Vigor"
  },
  "stats_vigor_description": {
    "en_US": "^shadow;^#b9b5b2;More maximum Health"
  },
  "stats_charisma_label": {
    "en_US": "^shadow;^#a8281d;Charisma"
  },
  "stats_charisma_description": {
    "en_US": "^shadow;^#b9b5b2;People really like you"
  },
  "stats_celerity_label": {
    "en_US": "^shadow;^#74C6F0;Celerity"
  },
  "stats_celerity_description": {
    "en_US": "^shadow;^#b9b5b2;Faster attacks and spells"
  },
  "stats_savagery_label": {
    "en_US": "^shadow;^#a8281d;Savagery"
  },
  "stats_savagery_description": {
    "en_US": "^shadow;^#b9b5b2;Chance to inflict critical hits"
  },
  "stats_details": {
    "en_US": "%s from species (%s)\n+ %s from skills\n+ %s from perks"
  },
  "perk_warriors_grit_name": {
    "en_US": "Warrior's Grit"
  },
  "perk_warriors_grit_description": {
    "en_US": "Gives a 10% chance when hit by ^#FFD752;melee^reset; attacks to regen ^#FF5555;5%+ health^reset;"
  },
  "perk_bravery_name": {
    "en_US": "Bravery"
  },
  "perk_bravery_description": {
    "en_US": "Taking over 20% of your ^#FF5555;max health^reset; in a single hit makes you ^#FFD752;invulnerable^reset; for 5 seconds"
  },
  "perk_hunters_presence_name": {
    "en_US": "Hunter's Presence"
  },
  "perk_hunters_presence_description": {
    "en_US": "Gives a 10% increase to move speed after killing an enemy with ^#51b9ff;ranged^reset; attacks"
  },
  "perk_steady_aim_name": {
    "en_US": "Steady Aim"
  },
  "perk_steady_aim_description": {
    "en_US": "Gives a ^#51b9ff;10% power bonus^reset; when standing still for 2 seconds"
  },
  "perk_scholars_insight_name": {
    "en_US": "Scholar's Insight"
  },
  "perk_scholars_insight_description": {
    "en_US": "Increases power when you kill enemies with ^#3fe8ae;magical^reset; attacks"
  },
  "perk_focused_mind_name": {
    "en_US": "Focused Mind"
  },
  "perk_focused_mind_description": {
    "en_US": "Gives a ^#3FE8AE;15% energy regen bonus^reset; when standing still for 2 seconds"
  },
  "perk_nimble_name": {
    "en_US": "Nimble"
  },
  "perk_nimble_description": {
    "en_US": "Gives some kind of movement/evasion effect"
  },
  "perk_dashing_name": {
    "en_US": "Dashing"
  },
  "perk_dashing_description": {
    "en_US": "Gives some charisma related effect"
  },
  "bonus_node_detail_isl_strength": {
    "en_US": "+%s ^#FFD752;Strength^reset;"
  },
  "bonus_node_detail_isl_defense": {
    "en_US": "+%s ^#FFD752;Defense^reset;"
  },
  "bonus_node_detail_isl_precision": {
    "en_US": "+%s ^#51B9FF;Precision^reset;"
  },
  "bonus_node_detail_isl_evasion": {
    "en_US": "+%s ^#51B9FF;Evasion^reset;"
  },
  "bonus_node_detail_isl_wits": {
    "en_US": "+%s ^#3FE8AE;Wits^reset;"
  },
  "bonus_node_detail_isl_focus": {
    "en_US": "+%s ^#3FE8AE;Focus^reset;"
  },
  "bonus_node_detail_isl_vigor": {
    "en_US": "+%s ^#FF5555;Vigor^reset;"
  },
  "bonus_node_detail_isl_mobility": {
    "en_US": "+%s ^#74C6F0;Mobility^reset;"
  },
  "bonus_node_detail_isl_celerity": {
    "en_US": "+%s ^#74C6F0;Celerity^reset;"
  },
  "bonus_node_detail_isl_charisma": {
    "en_US": "+%s ^#FF5555;Charisma^reset;"
  },
  "bonus_node_detail_isl_savagery": {
    "en_US": "+%s ^#FF5555;Savagery^reset;"
  }
}
