{
  "charactersheet_subtitle": {
    "en_US": "^shadow;^#b9b5b2;Your progression and perks"
  },
  "stats_strength_label": {
    "en_US": "^shadow;^#ffd752;Strength"
  },
  "stats_strength_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful melee combat"
  },
  "stats_precision_label": {
    "en_US": "^shadow;^#51b9ff;Precision"
  },
  "stats_precision_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful ranged combat"
  },
  "stats_wits_label": {
    "en_US": "^shadow;^#3fe8ae;Wits"
  },
  "stats_wits_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful magical attacks"
  },
  "stats_defense_label": {
    "en_US": "^shadow;^#ffd752;Defense"
  },
  "stats_defense_description": {
    "en_US": "^shadow;^#b9b5b2;Reduce incoming damage"
  },
  "stats_evasion_label": {
    "en_US": "^shadow;^#51b9ff;Evasion"
  },
  "stats_evasion_description": {
    "en_US": "^shadow;^#b9b5b2;Chance to dodge attacks"
  },
  "stats_focus_label": {
    "en_US": "^shadow;^#3fe8ae;Focus"
  },
  "stats_focus_description": {
    "en_US": "^shadow;^#b9b5b2;More maximum Energy"
  },
  "stats_mobility_label": {
    "en_US": "^shadow;Mobility"
  },
  "stats_mobility_description": {
    "en_US": "^shadow;^#b9b5b2;Move faster, Jump higher"
  },
  "stats_vigor_label": {
    "en_US": "^shadow;Vigor"
  },
  "stats_vigor_description": {
    "en_US": "^shadow;^#b9b5b2;More maximum Health"
  },
  "stats_details": {
    "en_US": "%s from species (%s)\n+ %s from skills\n+ %s from perks"
  },
  "skills_warrior__the_warrior__name": {
    "en_US": "The Warrior"
  },
  "skills_warrior__the_warrior_description": {
    "en_US": "^orange;The Master of Melee Combat^reset;\n\nThe Way of the Warrior is to approach conflict head-on. With powerful blows you will protect those dear to you and inflict great pain on those who stand against you."
  },
  "skills_hunter__the_hunter__name": {
    "en_US": "The Hunter"
  },
  "skills_hunter__the_hunter__description": {
    "en_US": "^orange;The Master of Ranged Combat^reset;\n\nTBD"
  },
  "skills_scholar__the_scholar__name": {
    "en_US": "The Scholar"
  },
  "skills_scholar__the_scholar__description": {
    "en_US": "^orange;The Master of Magical Combat^reset;\n\nTBD"
  }
}
