{
  "skill_up_effect_label": {
    "en_US": "Skill Up!"
  },
  "constellation_subtitle": {
    "en_US": "^shadow;^#b9b5b2;Your progression and perks"
  },
  "stats_strength_label": {
    "en_US": "^shadow;^#ffd752;Strength"
  },
  "stats_strength_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful melee combat"
  },
  "stats_precision_label": {
    "en_US": "^shadow;^#51b9ff;Precision"
  },
  "stats_precision_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful ranged combat"
  },
  "stats_wits_label": {
    "en_US": "^shadow;^#3fe8ae;Wits"
  },
  "stats_wits_description": {
    "en_US": "^shadow;^#b9b5b2;Powerful magical attacks"
  },
  "stats_defense_label": {
    "en_US": "^shadow;^#ffd752;Defense"
  },
  "stats_defense_description": {
    "en_US": "^shadow;^#b9b5b2;Reduce incoming damage"
  },
  "stats_evasion_label": {
    "en_US": "^shadow;^#51b9ff;Evasion"
  },
  "stats_evasion_description": {
    "en_US": "^shadow;^#b9b5b2;Chance to dodge attacks"
  },
  "stats_focus_label": {
    "en_US": "^shadow;^#3fe8ae;Focus"
  },
  "stats_focus_description": {
    "en_US": "^shadow;^#b9b5b2;More maximum Energy"
  },
  "stats_mobility_label": {
    "en_US": "^shadow;Mobility"
  },
  "stats_mobility_description": {
    "en_US": "^shadow;^#b9b5b2;Move faster, Jump higher"
  },
  "stats_vigor_label": {
    "en_US": "^shadow;Vigor"
  },
  "stats_vigor_description": {
    "en_US": "^shadow;^#b9b5b2;More maximum Health"
  },
  "stats_details": {
    "en_US": "%s from species (%s)\n+ %s from skills\n+ %s from perks"
  },
  "perk_warriors_grit_name": {
    "en_US": "Warrior's Grit"
  },
  "perk_warriors_grit_description": {
    "en_US": "Chance when hit by ^#FFD752;melee^reset; attacks to regen ^#FF5555;health^reset;"
  },
  "perk_the_hunter_name": {
    "en_US": "The Hunter"
  },
  "perk_the_hunter_description": {
    "en_US": "^orange;The Master of Ranged Combat^reset;"
  },
  "perk_the_scholar_name": {
    "en_US": "The Scholar"
  },
  "perk_the_scholar_description": {
    "en_US": "^orange;The Master of Magical Combat^reset;"
  },
  "bonus_node_detail_isl_strength": {
    "en_US": "+%s ^#FFD752;Strength^reset;"
  },
  "bonus_node_detail_isl_defense": {
    "en_US": "+%s ^#FFD752;Defense^reset;"
  },
  "bonus_node_detail_isl_precision": {
    "en_US": "+%s ^#51B9FF;Precision^reset;"
  },
  "bonus_node_detail_isl_evasion": {
    "en_US": "+%s ^#51B9FF;Evasion^reset;"
  },
  "bonus_node_detail_isl_wits": {
    "en_US": "+%s ^#3FE8AE;Wits^reset;"
  },
  "bonus_node_detail_isl_focus": {
    "en_US": "+%s ^#3FE8AE;Focus^reset;"
  },
  "bonus_node_detail_isl_vigor": {
    "en_US": "+%s ^#FF5555;Vigor^reset;"
  },
  "bonus_node_detail_isl_mobility": {
    "en_US": "+%s ^white;Mobility^reset;"
  }
}
