{
  "isl_attackSpeedMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1 // The exponent used to determine how dramatic the curve is.
    },
    "base": {
      "always": {
        "amount": 1
      }
    },
    "perPoint": {
      "byTagsMethod": "first",
      "byTags": [
        { "tags": ["twoHanded"], "amount": -0.008 },
        { "tags": ["dualWield"], "amount": -0.004 },
        { "tags": ["oneHanded"], "amount": -0.005 }
      ]
    }
  },
  "isl_castSpeedMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1 // The exponent used to determine how dramatic the curve is.
    },
    "base": {
      "always": {
        "amount": 1
      }
    },
    "perPoint": {
      "byTagsMethod": "first",
      "byTags": [
        { "tags": ["twoHanded"], "amount": -0.008 },
        { "tags": ["dualWield"], "amount": -0.004 },
        { "tags": ["oneHanded"], "amount": -0.005 }
      ]
    }
  }
}
