{
  "isl_buyFactorMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1 // The exponent used to determine how dramatic the curve is.
    },
    "base": {
      "always": {
        "amount": 1
      }
    },
    "perPoint": {
      "always": {
        "amount": -0.005
      }
    }
  },
  "isl_sellFactorMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1 // The exponent used to determine how dramatic the curve is.
    },
    "base": {
      "always": {
        "amount": 1
      }
    },
    "perPoint": {
      "always": {
        "amount": -0.0005
      }
    }
  }
}
