{
  "critChance": {
    "perPoint": {
      "byTags": [
        { "tags": ["twoHanded"], "amount": 0.003 },
        { "tags": ["dualWield"], "amount": 0.002 },
        { "tags": ["oneHanded"], "amount": 0.002 }
      ]
    }
  },
  "critBonus": {
    "base": {
      "always": {
        "amount": 0.5
      },
      "byTags": [
        { "tags": ["twoHanded"], "amount": 0.25 }
      ]
    },
    "perPoint": {
      "always": {
        "amount": 0.002
      }
    }
  }
}
