{
  "powerMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1 // The exponent used to determine how dramatic the curve is.
    },
    "base": {
      "always": {
        "amount": 0,
        "baseMultiplier": 0,
        "effectiveMultiplier": 0
      },
      "byTagsMethod": "first",
      "byTags": []
    },
    "perPoint": {
      "always": {
        "amount": 0,
        "baseMultiplier": 0,
        "effectiveMultiplier": 0
      },
      "byTagsMethod": "first",
      "byTags": [
        { "tags": ["melee", "twoHanded"], "amount": 0.0135 },
        { "tags": ["melee", "dualWield"], "amount": 0.0115 },
        { "tags": ["melee", "oneHanded"], "amount": 0.0125 }
      ]
    }
  },
  "shieldMaxHealth": {
    "diminishingReturns": {
      "rate": 0,
      "start": 0,
      "factor": 0
    },
    "perPoint": {
      "byTags": [
        { "tags": ["shield"], "perPoint": 1 }
      ]
    }
  }
}
