{
  "powerMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1, // The exponent used to determine how dramatic the curve is.
    },
    "byTag": {
      "twoHanded": 1.35,
      "dualWield": 1.15,
      "oneHanded": 1.25
    }
  }
}
