{
  "powerMultiplier": {
    "diminishingReturns": {
      "rate": 10, // An overall magnitude for the diminishing rate
      "start": 200, // A "start" before which no diminishing returns are applied
      "factor": 0.1 // The exponent used to determine how dramatic the curve is.
    },
    "base": {
      "amount": 0,
      "baseMultiplier": 1,
      "effectiveMultiplier": 1
    },
    "perPoint": {
      "always": {
        "amount": 0,
        "baseMultiplier": 0,
        "effectiveMultiplier": 0
      },
      "byTagsMethod": "first",
      "byTags": [
        { "tags": ["magical", "twoHanded"], "amount": 0.0135 },
        { "tags": ["magical", "dualWield"], "amount": 0.0115 },
        { "tags": ["magical", "oneHanded"], "amount": 0.0125 }
      ]
    }
  }
}
