{
  "isl_strength": {
    "defaultAmount": 0
  },
  "isl_precision": {
    "defaultAmount": 0
  },
  "isl_wits": {
    "defaultAmount": 0
  },
  "isl_defense": {
    "defaultAmount": 0
  },
  "isl_evasion": {
    "defaultAmount": 0
  },
  "isl_focus": {
    "defaultAmount": 0
  },
  "isl_vigor": {
    "defaultAmount": 0
  },
  "isl_mobility": {
    "defaultAmount": 0
  },
  "isl_charisma": {
    "defaultAmount": 0
  },
  "isl_celerity": {
    "defaultAmount": 0
  },
  "isl_savagery": {
    "defaultAmount": 0
  }
}
