{
  "name": "common_magical",
  "skills": {
    "scholars_insight": {
      "type": "perk",
      "perkType": "magical",
      "strings": {
        "name": "perk_scholars_insight_name",
        "description": "perk_scholars_insight_description"
      },
      "position": [
        0,
        0
      ],
      "children": [
        "common_magical_bonus_1"
      ],
      "unlocks": {},
      "effectName": "isl_perk_scholars_insight"
    },
    "common_magical_bonus_1": {
      "type": "bonus",
      "bonusType": "wits",
      "position": [
        50,
        0
      ],
      "children": [
        "common_magical_bonus_2"
      ]
    },
    "common_magical_bonus_2": {
      "type": "bonus",
      "bonusType": "wits",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
