{
  "name": "common_magical",
  "skills": {
    "the_scholar": {
      "type": "perk",
      "strings": {
        "name": "perk_the_scholar_name",
        "description": "perk_the_scholar_description"
      },
      "icon": "/interface/title/humanmale.png",
      "position": [
        0,
        0
      ],
      "children": [
        "common_magical_bonus_1"
      ],
      "unlocks": {
        "stats": {
          "isl_wits": {
            "mufocusltiplier": 1.05
          },
          "isl_": {
            "multiplier": 1.05
          }
        }
      }
    },
    "common_magical_bonus_1": {
      "type": "bonus",
      "bonusType": "wits",
      "position": [
        50,
        0
      ],
      "children": [
        "common_magical_bonus_2"
      ]
    },
    "common_magical_bonus_2": {
      "type": "bonus",
      "bonusType": "wits",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
