{
  "gui": {
    "canvas": {
      "zlevel": -20,
      "type": "canvas",
      "rect": [
        203,
        12,
        596,
        315
      ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": true
    },
    "background": {
      "type": "background",
      "fileHeader": "/isl/ui/charactersheet/assets/header.png",
      "fileBody": "/isl/ui/charactersheet/assets/body.png"
    },
    "innerShadow": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/ui/charactersheet/assets/inner_shadow.png",
      "position": [
        198,
        10
      ]
    },
    "bgShine": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/ui/charactersheet/assets/shine.png",
      "position": [
        -50,
        47
      ]
    },
    "infoPanel": {
      "type": "scrollArea",
      "rect": [
        2,
        24,
        200,
        204
      ],
      "children": {
        "text": {
          "type": "label",
          "position": [
            2,
            37
          ],
          "vAnchor": "bottom",
          "fontSize": 7,
          "wrapWidth": 182,
          "value": "Loading..."
        }
      }
    },
    "headerLayout": {
      "type": "layout",
      "layoutType": "basic",
      "rect": [0, 295, 200, 316],
      "children": {
        "playerName": {
          "type": "label",
          "position": [
            32,
            11
          ],
          "hAnchor": "left",
          "value": "Loading..."
        },
        "subtitle": {
          "type": "label",
          "position": [
            32,
            2
          ],
          "hAnchor": "left",
          "value": "^shadow;^#b9b5b2;Character Sheet ^green;[K]"
        },
        "closeButton": {
          "type": "button",
          "position": [
            185,
            5
          ],
          "base": "/interface/x.png",
          "hover": "/interface/xhover.png",
          "pressed": "/interface/xpress.png",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ]
        },
        "portraitFrame": {
          "type": "image",
          "position": [
            4,
            0
          ],
          "file": "/interface/inventory/portrait.png",
          "hAnchor": "mid",
          "vAnchor": "mid"
        },
        "portrait": {
          "type": "canvas",
          "rect": [
            4,
            0,
            28,
            24
          ],
          "captureMouseEvents": false,
          "captureKeyboardEvents": false,
          "zlevel": 20
        }
      }
    },
    "statsLayout": {
      "type": "layout",
      "layoutType": "basic",
      "rect": [0, 218, 200, 295],
      "children": {
        "title": {
          "type": "label",
          "position": [
            101,
            66
          ],
          "hAnchor": "mid",
          "value": "^gray;CURRENT STATS^reset;"
        },
        "portrait": {
          "type": "canvas",
          "rect": [
            68,
            2,
            133,
            67
          ],
          "captureMouseEvents": false,
          "captureKeyboardEvents": false,
          "zlevel": 20
        },
        "strengthButton": {
          "type": "button",
          "position": [
            50,
            51
          ],
          "base": "/isl/ui/assets/strength.png:default",
          "hover": "/isl/ui/assets/strength.png:hover",
          "pressed": "/isl/ui/assets/strength.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_strength_label"
        },
        "precisionButton": {
          "type": "button",
          "position": [
            50,
            34
          ],
          "base": "/isl/ui/assets/precision.png:default",
          "hover": "/isl/ui/assets/precision.png:hover",
          "pressed": "/isl/ui/assets/precision.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_precision_label"
        },
        "witsButton": {
          "type": "button",
          "position": [
            50,
            17
          ],
          "base": "/isl/ui/assets/wits.png:default",
          "hover": "/isl/ui/assets/wits.png:hover",
          "pressed": "/isl/ui/assets/wits.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_wits_label"
        },
        "healthButton": {
          "type": "button",
          "position": [
            50,
            0
          ],
          "base": "/isl/ui/assets/health.png:default",
          "hover": "/isl/ui/assets/health.png:hover",
          "pressed": "/isl/ui/assets/health.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_health_label"
        },
        "defenseButton": {
          "type": "button",
          "position": [
            136,
            51
          ],
          "base": "/isl/ui/assets/defense.png:default",
          "hover": "/isl/ui/assets/defense.png:hover",
          "pressed": "/isl/ui/assets/defense.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_defense_label"
        },
        "evasionButton": {
          "type": "button",
          "position": [
            136,
            34
          ],
          "base": "/isl/ui/assets/evasion.png:default",
          "hover": "/isl/ui/assets/evasion.png:hover",
          "pressed": "/isl/ui/assets/evasion.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_evasion_label"
        },
        "energyButton": {
          "type": "button",
          "position": [
            136,
            17
          ],
          "base": "/isl/ui/assets/energy.png:default",
          "hover": "/isl/ui/assets/energy.png:hover",
          "pressed": "/isl/ui/assets/energy.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_energy_label"
        },
        "mobilityButton": {
          "type": "button",
          "position": [
            136,
            0
          ],
          "base": "/isl/ui/assets/mobility.png:default",
          "hover": "/isl/ui/assets/mobility.png:hover",
          "pressed": "/isl/ui/assets/mobility.png:pressed",
          "disabledImage": "/assetmissing.png",
          "pressedOffset": [
            0,
            0
          ],
          "tooltipStringId": "stats_mobility_label"
        }
      }
    }
  },
  "canvasClickCallbacks": {
    "canvas": "handle_canvas_mouse_event"
  },
  "scriptWidgetCallbacks": [
    "closeButton",
    "strengthButton",
    "precisionButton",
    "witsButton",
    "healthButton",
    "evasionButton",
    "defenseButton",
    "energyButton",
    "mobilityButton"
  ],
  "scripts": [
    "/isl/ui/charactersheet/charactersheet.lua"
  ],
  "scriptDelta": 1
}
