{
  "gui": {
    "canvas": {
      "zlevel": -20,
      "type": "canvas",
      "rect": [
        203,
        12,
        596,
        315
      ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": true
    },
    "background": {
      "type": "background",
      "fileHeader": "/isl/ui/charactersheet/assets/header.png",
      "fileBody": "/isl/ui/charactersheet/assets/body.png"
    },
    "innerShadow": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/ui/charactersheet/assets/inner_shadow.png",
      "position": [
        198,
        10
      ]
    },
    "bgShine": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/ui/charactersheet/assets/shine.png",
      "position": [
        -50,
        47
      ]
    },
    "playerName": {
      "type": "label",
      "position": [
        32,
        306
      ],
      "hAnchor": "left",
      "value": "Loading..."
    },
    "subtitle": {
      "type": "label",
      "position": [
        32,
        297
      ],
      "hAnchor": "left",
      "value": "^shadow;^#b9b5b2;Character Sheet ^green;[K]"
    },
    "infoPanel": {
      "type": "scrollArea",
      "rect": [
        2,
        24,
        200,
        204
      ],
      "children": {
        "text": {
          "type": "label",
          "position": [
            2,
            37
          ],
          "vAnchor": "bottom",
          "fontSize": 7,
          "wrapWidth": 182,
          "value": "Loading..."
        }
      }
    },
    "closeButton": {
      "type": "button",
      "position": [
        184,
        300
      ],
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "portraitFrame": {
      "type": "image",
      "position": [
        4,
        295
      ],
      "file": "/interface/inventory/portrait.png",
      "hAnchor": "mid",
      "vAnchor": "mid"
    },
    "portrait": {
      "type": "canvas",
      "rect": [
        4,
        295,
        28,
        319
      ],
      "captureMouseEvents": false,
      "captureKeyboardEvents": false,
      "zlevel": 20
    },
    "portraitFull": {
      "type": "canvas",
      "rect": [
        68,
        220,
        133,
        285
      ],
      "captureMouseEvents": false,
      "captureKeyboardEvents": false,
      "zlevel": 20
    },
    "strengthButton": {
      "type": "button",
      "position": [
        50,
        269
      ],
      "base": "/isl/ui/assets/strength.png:default",
      "hover": "/isl/ui/assets/strength.png:hover",
      "pressed": "/isl/ui/assets/strength.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "precisionButton": {
      "type": "button",
      "position": [
        50,
        252
      ],
      "base": "/isl/ui/assets/precision.png:default",
      "hover": "/isl/ui/assets/precision.png:hover",
      "pressed": "/isl/ui/assets/precision.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "witsButton": {
      "type": "button",
      "position": [
        50,
        235
      ],
      "base": "/isl/ui/assets/wits.png:default",
      "hover": "/isl/ui/assets/wits.png:hover",
      "pressed": "/isl/ui/assets/wits.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "healthButton": {
      "type": "button",
      "position": [
        50,
        218
      ],
      "base": "/isl/ui/assets/health.png:default",
      "hover": "/isl/ui/assets/health.png:hover",
      "pressed": "/isl/ui/assets/health.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "defenseButton": {
      "type": "button",
      "position": [
        136,
        269
      ],
      "base": "/isl/ui/assets/defense.png:default",
      "hover": "/isl/ui/assets/defense.png:hover",
      "pressed": "/isl/ui/assets/defense.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "evasionButton": {
      "type": "button",
      "position": [
        136,
        252
      ],
      "base": "/isl/ui/assets/evasion.png:default",
      "hover": "/isl/ui/assets/evasion.png:hover",
      "pressed": "/isl/ui/assets/evasion.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "energyButton": {
      "type": "button",
      "position": [
        136,
        235
      ],
      "base": "/isl/ui/assets/energy.png:default",
      "hover": "/isl/ui/assets/energy.png:hover",
      "pressed": "/isl/ui/assets/energy.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "mobilityButton": {
      "type": "button",
      "position": [
        136,
        218
      ],
      "base": "/isl/ui/assets/mobility.png:default",
      "hover": "/isl/ui/assets/mobility.png:hover",
      "pressed": "/isl/ui/assets/mobility.png:pressed",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    }
  },
  "canvasClickCallbacks": {
    "canvas": "handle_canvas_mouse_event"
  },
  "scriptWidgetCallbacks": [
    "closeButton",
    "strengthButton",
    "precisionButton",
    "witsButton",
    "healthButton",
    "evasionButton",
    "defenseButton",
    "energyButton",
    "mobilityButton"
  ],
  "scripts": [
    "/isl/ui/charactersheet/charactersheet.lua"
  ],
  "scriptDelta": 1
}
