{
  "gui": {
    "canvas": {
      "zlevel": -20,
      "type": "canvas",
      "rect": [
        203,
        12,
        596,
        315
      ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": true
    },
    "background": {
      "type": "background",
      "fileHeader": "/isl/ui/charactersheet/assets/header.png",
      "fileBody": "/isl/ui/charactersheet/assets/body.png"
    },
    "innerShadow": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/ui/charactersheet/assets/inner_shadow.png",
      "position": [
        198,
        10
      ]
    },
    "bgShine": {
      "zlevel": -10,
      "type": "image",
      "file": "/isl/ui/charactersheet/assets/shine.png",
      "position": [
        -50,
        47
      ]
    },
    "playerName": {
      "type": "label",
      "position": [
        32,
        306
      ],
      "hAnchor": "left",
      "value": "Loading..."
    },
    "subtitle": {
      "type": "label",
      "position": [
        32,
        297
      ],
      "hAnchor": "left",
      "value": "^shadow;^#b9b5b2;Character Sheet ^green;[K]"
    },
    "infoPanel": {
      "type": "scrollArea",
      "rect": [
        2,
        20,
        200,
        284
      ],
      "children": {
        "text": {
          "type": "label",
          "position": [
            2,
            37
          ],
          "vAnchor": "bottom",
          "fontSize": 7,
          "wrapWidth": 182,
          "value": "Loading..."
        }
      }
    },
    "closeButton": {
      "type": "button",
      "position": [
        182,
        300
      ],
      "base": "/interface/x.png",
      "hover": "/interface/xhover.png",
      "pressed": "/interface/xpress.png",
      "disabledImage": "/assetmissing.png",
      "pressedOffset": [
        0,
        0
      ]
    },
    "portrait": {
      "type": "portrait",
      "portraitMode": "bust",
      "position": [
        -30,
        306
      ],
      "scale": 1,
      "zlevel": 2
    }
  },
  "canvasClickCallbacks": {
    "canvas": "handle_canvas_mouse_event"
  },
  "scriptWidgetCallbacks": [
    "closeButton"
  ],
  "scripts": [
    "/isl/ui/charactersheet/charactersheet.lua"
  ],
  "scriptDelta": 1
}
