{
  "background": {
    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:default",
    "melee": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:melee",
    "ranged": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:ranged",
    "magical": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:magical"
  },
  "icon": {
    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:default",
    "strength": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:strength",
    "precision": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:precision",
    "wits": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:wits",
    "defense": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:defense",
    "evasion": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:evasion",
    "energy": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:energy",
    "health": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:health",
    "mobility": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:mobility"
  },
  "mask": {
    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus_mask.png"
  }
}
