{
  "background": {
    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:default",
    "melee": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:melee",
    "ranged": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:ranged",
    "magical": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:magical"
  },
  "icon": {
    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:default",
    "isl_strength": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:strength",
    "isl_precision": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:precision",
    "isl_wits": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:wits",
    "isl_defense": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:defense",
    "isl_evasion": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:evasion",
    "isl_energy": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:energy",
    "isl_health": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:health",
    "isl_mobility": "/isl/ui/skilltree/nodes/assets/graph_bonus_icon.png:mobility"
  },
  "mask": {
    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus_mask.png"
  }
}
