{
  "background": {
    "melee": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:melee",
    "melee+health": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:melee+health",
    "ranged": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:ranged",
    "ranged+health": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:ranged+health",
    "magical": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:magical",
    "magical+health": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:magical+health",
    "utility": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:utility",
    "utility+health": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:utility+health",

    "default": "/isl/ui/skilltree/nodes/assets/graph_bonus.png:utility"
  }
}
