{
  "background": {
    "type": "background",
    "fileHeader": "/isl/constellation/stats/assets/tooltipheader.png",
    "fileBody": "/isl/constellation/stats/assets/tooltipbody.png",
    "fileFooter": "/isl/constellation/stats/assets/tooltipfooter.png"
  },
  "title": {
    "type": "label",
    "position": [
      11,
      103
    ],
    "hAnchor": "left",
    "vAnchor": "top",
    "wrapWidth": 220
  },
  "description": {
    "type": "label",
    "position": [
      11,
      94
    ],
    "hAnchor": "left",
    "vAnchor": "top",
    "wrapWidth": 220
  },
  "details": {
    "type": "label",
    "position": [
      11,
      79
    ],
    "hAnchor": "left",
    "vAnchor": "top",
    "wrapWidth": 220
  }
}
