{
  "byTag": {
    "sword": [
      "melee",
      "weapon"
    ],
    "shortsword": [
      "melee",
      "weapon"
    ],
    "staff": [
      "magical",
      "weapon"
    ]
  },
  "byCategory": {
    "shortsword": [
      "melee",
      "weapon",
      "shortsword",
      "sword"
    ],
    "broadsword": [
      "melee",
      "weapon",
      "broadsword",
      "sword"
    ],
    "staff": [
      "magical",
      "weapon",
      "staff"
    ]
  },
  "byLevel": {
    "0": [
      "tier0"
    ],
    "1": [
      "tier1"
    ],
    "2": [
      "tier2"
    ],
    "4": [
      "tier4"
    ],
    "5": [
      "tier5"
    ],
    "6": [
      "tier6"
    ]
  }
}
