{
  "strength": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "melee",
    "strings": {
      "name": "stats_strength_label"
    },
    "statDistribution": {
      "strength": 1
    }
  },
  "precision": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "ranged",
    "strings": {
      "name": "stats_precision_label"
    },
    "statDistribution": {
      "precision": 1
    }
  },
  "wits": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "magical",
    "strings": {
      "name": "stats_wits_label"
    },
    "statDistribution": {
      "wits": 1
    }
  },
  "defense": {
    "levelingFunction": "islDefenseLevelingFunction",
    "backgroundType": "melee",
    "strings": {
      "name": "stats_defense_label"
    },
    "statDistribution": {
      "defense": 1
    }
  },
  "evasion": {
    "levelingFunction": "islEvasionLevelingFunction",
    "backgroundType": "ranged",
    "strings": {
      "name": "stats_evasion_label"
    },
    "statDistribution": {
      "evasion": 1
    }
  },
  "energy": {
    "levelingFunction": "islEnergyLevelingFunction",
    "backgroundType": "magical",
    "strings": {
      "name": "stats_energy_label"
    },
    "statDistribution": {
      "energy": 1
    }
  },
  "health": {
    "levelingFunction": "islHealthLevelingFunction",
    "backgroundType": "default",
    "strings": {
      "name": "stats_health_label"
    },
    "statDistribution": {
      "health": 1
    }
  },
  "mobility": {
    "levelingFunction": "islMobilityLevelingFunction",
    "backgroundType": "default",
    "strings": {
      "name": "stats_mobility_label"
    },
    "statDistribution": {
      "mobility": 1
    }
  }
}
