{
  "strength": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "melee",
    "strings": {
      "details": "bonus_node_details_strength"
    },
    "statDistribution": {
      "isl_strength": [
        1,
        0
      ]
    }
  },
  "strength_vigor": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "melee_vigor",
    "strings": {
      "details": "bonus_node_details_strength_vigor"
    },
    "statDistribution": {
      "isl_strength": [
        0.8,
        0
      ],
      "isl_vigor": [
        0.2,
        0
      ]
    }
  },
  "strength_evasion": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "melee_utility",
    "strings": {
      "details": "bonus_node_details_strength_evasion"
    },
    "statDistribution": {
      "isl_strength": [
        0.8,
        0
      ],
      "isl_evasion": [
        0.2,
        0
      ]
    }
  },
  "precision": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "ranged",
    "strings": {
      "details": "bonus_node_details_precision"
    },
    "statDistribution": {
      "isl_precision": [
        1,
        0
      ]
    }
  },
  "precision_vigor": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "ranged_vigor",
    "strings": {
      "details": "bonus_node_details_precision_vigor"
    },
    "statDistribution": {
      "isl_precision": [
        0.8,
        0
      ],
      "isl_vigor": [
        0.2,
        0
      ]
    }
  },
  "precision_evasion": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "ranged_utility",
    "strings": {
      "details": "bonus_node_details_precision_evasion"
    },
    "statDistribution": {
      "isl_precision": [
        0.8,
        0
      ],
      "isl_evasion": [
        0.2,
        0
      ]
    }
  },
  "wits": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "magical",
    "strings": {
      "details": "bonus_node_details_wits"
    },
    "statDistribution": {
      "isl_wits": [
        1,
        0
      ]
    }
  },
  "wits_vigor": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "magical_vigor",
    "strings": {
      "details": "bonus_node_details_wits_vigor"
    },
    "statDistribution": {
      "isl_wits": [
        0.8,
        0
      ],
      "isl_vigor": [
        0.2,
        0
      ]
    }
  },
  "wits_focus": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "magical_utility",
    "strings": {
      "details": "bonus_node_details_wits_evasion"
    },
    "statDistribution": {
      "isl_wits": [
        0.8,
        0
      ],
      "isl_focus": [
        0.2,
        0
      ]
    }
  },
  "defense": {
    "levelingFunction": "islDefenseLevelingFunction",
    "backgroundType": "melee",
    "strings": {
      "name": "details": "bonus_node_details_defense"
    },
    "statDistribution": {
      "isl_defense": [
        1,
        0
      ]
    }
  },
  "evasion": {
    "levFocusunction": "islEvasionLevelingFunction",
    "backgroundType": "ranged",
    "strings": {
      "details": "bonus_node_details_evasion"
    },
    "statDistribution": {
      "isl_evasion": [
        1,
        0
      ]
    }
  },
  "focus": {
    "levelingFunction": "islFocusLevelingFunction",
    "backgroundType": "magical",
    "strings": {
      "details": "bonus_node_details_focus"
    },
    "statDistribution": {
      "isl_energy": [
        1,
        0
      ]
    }
  },
  "vigor": {
    "levelingFunction": "islVigorLevelingFunction",
    "backgroundType": "default",
    "strings": {
      "details": "bonus_node_details_vigor"
    },
    "statDistribution": {
      "isl_vigor": [
        1,
        0
      ]
    }
  },
  "mobility": {
    "levelingFunction": "islMobilityLevelingFunction",
    "backgroundType": "default",
    "strings": {
      "details": "bonus_node_details_mobility"
    },
    "statDistribution": {
      "isl_mobility": [
        1,
        0
      ]
    }
  }
}
