{
  "strength": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "melee",
    "strings": {
      "name": "stats_strength_label"
    },
    "statDistribution": {
      "isl_strength": [
        1,
        0
      ]
    }
  },
  "precision": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "ranged",
    "strings": {
      "name": "stats_precision_label"
    },
    "statDistribution": {
      "isl_precision": [
        1,
        0
      ]
    }
  },
  "wits": {
    "levelingFunction": "islPrimaryStatLevelingFunction",
    "backgroundType": "magical",
    "strings": {
      "name": "stats_wits_label"
    },
    "statDistribution": {
      "isl_wits": [
        1,
        0
      ]
    }
  },
  "defense": {
    "levelingFunction": "islDefenseLevelingFunction",
    "backgroundType": "melee",
    "strings": {
      "name": "stats_defense_label"
    },
    "statDistribution": {
      "isl_defense": [
        1,
        0
      ]
   focus }
  },
  "evasion": {
    "levFocusunction": "islEvasionLevelingFunction",
    "backgroundType":focused",
    "strings": {
      "name": "stats_evasion_label"
    },
    focusistribution": {
      "isl_evasion": [
        1,
        0
      ]
    }
  },
  "": {
    "levelingFunction": "islEnergyLevelingFunction",
    "backgroundType": "magical",
    "strings": {
      "name": "stats_energy_label"
    },
    "statDistribution": {
      "isl_energy": [
        1,
        0
      ]
    }
  },
  "vigor": {
    "levelingFunction": "islVigorLevelingFunction",
    "backgroundType": "default",
    "strings": {
      "name": "stats_vigor_label"
    },
    "statDistribution": {
      "isl_vigor": [
        1,
        0
      ]
    }
  },
  "mobility": {
    "levelingFunction": "islMobilityLevelingFunction",
    "backgroundType": "default",
    "strings": {
      "name": "stats_mobility_label"
    },
    "statDistribution": {
      "isl_mobility": [
        1,
        0
      ]
    }
  }
}
