{
  "initialSkills": {
    "common": [
      "start"
    ],
    "species": {
      "default": []
    }
  },
  "skillModules": {
    "common": {
      "melee": {
        "name": "common-melee",
        "path": "/isl/skillgraph/modules/common/melee/melee.config",
        "translation": [
          0.0,
          260.0
        ],
        "rotation": 90
      },
      "ranged": {
        "name": "common-ranged",
        "path": "/isl/skillgraph/modules/common/ranged/ranged.config",
        "translation": [
          -225.15,
          -130.0
        ],
        "rotation": 210
      },
      "magical": {
        "name": "common-magical",
        "path": "/isl/skillgraph/modules/common/magical/magical.config",
        "translation": [
          225.15,
          -130.0
        ],
        "rotation": 330
      }
    },
    "species": {
      "default": {
        "core": {
          "path": "/isl/skillgraph/modules/species/default/default_species.config"
        }
      }
    }
  }
}
