{
  // What item to spawn
  "burstItem": 'isl_skill_mote',
  // How many stacks of them to spawn
  "burstCount": 4,
  // Increase the above by 1+(monster.level() * multiplier below)
  "burstCountMultiplierPerLevel": 0.25,
  // How many items per spawned stack
  "burstStackSize": 5,
  // Increase the above by 1+(monster.level() * multiplier below)
  "burstStackSizeMultiplierPerLevel": 0,
  // How fast should they go
  "burstItemVelocityRange": [20, 40],
  // At what angle variance from 0 (in radians)
  "burstItemAngleVariance": 0.5,
  // Relative to the boss' origin
  "burstOffset": [0, 0],
  "burstIntangibleTimeRange": [0, 0]
}
