{
  "name": "the_warrior",
  "skills": {
    "the_warrior": {
      "type": "perk",
      "strings": {
        "name": "skills_warrior__the_warrior__name",
        "description": "skills_warrior__the_warrior__description"
      },
      "icon": "/interface/title/humanmale.png",
      "position": [
        0,
        0
      ],
      "children": [
        "warrior_bonus_1"
      ]
    },
    "warrior_bonus_1": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        50,
        0
      ],
      "children": [
        "warrior_bonus_2"
      ]
    },
    "warrior_bonus_2": {
      "type": "bonus",
      "bonusType": "strength",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
