{
  "name": "the_scholar",
  "skills": {
    "the_scholar": {
      "type": "perk",
      "strings": {
        "name": "skills_scholar__the_scholar__name",
        "description": "skills_scholar__the_scholar__description"
      },
      "icon": "/interface/title/humanmale.png",
      "position": [
        0,
        0
      ],
      "children": [
        "scholar_bonus_1"
      ]
    },
    "scholar_bonus_1": {
      "type": "bonus",
      "bonusType": "wits",
      "position": [
        50,
        0
      ],
      "children": [
        "scholar_bonus_2"
      ]
    },
    "scholar_bonus_2": {
      "type": "bonus",
      "bonusType": "wits",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
