{
  "isl_strength": {
    "defaultValue": 0
  },
  "isl_precision": {
    "defaultValue": 0
  },
  "isl_wits": {
    "defaultValue": 0
  },
  "isl_defense": {
    "defaultValue": 0
  },
  "isl_evasion": {
    "defaultValue": 0
  },
  "isl_energy": {
    "defaultValue": 0
  },
  "isl_health": {
    "defaultValue": 100
  },
  "isl_mobility": {
    "defaultValue": 1
  }
}
