{
  "name": "the_hunter",
  "skills": {
    "the_hunter": {
      "type": "perk",
      "rarity": "uncommon",
      "strings": {
        "name": "skills_hunter__the_hunter__name",
        "description": "skills_hunter__the_hunter__description"
      },
      "icon": "/interface/title/humanmale.png",
      "position": [
        0,
        0
      ],
      "children": [
        "hunter_bonus_1"
      ]
    },
    "hunter_bonus_1": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        50,
        0
      ],
      "children": [
        "hunter_bonus_2"
      ]
    },
    "hunter_bonus_2": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
