{
  "name": "common_ranged",
  "skills": {
    "hunters_presence": {
      "type": "perk",
      "perkType": "ranged",
      "strings": {
        "name": "perk_hunters_presence_name",
        "description": "perk_hunters_presence_description"
      },
      "position": [
        0,
        0
      ],
      "children": [
        "common_ranged_bonus_1"
      ],
      "unlocks": {},
      "effectName": "isl_perk_hunters_presence"
    },
    "common_ranged_bonus_1": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        50,
        0
      ],
      "children": [
        "common_ranged_bonus_2"
      ]
    },
    "common_ranged_bonus_2": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
