{
  "name": "common_ranged",
  "skills": {
    "the_hunter": {
      "type": "perk",
      "perkType": "ranged",
      "strings": {
        "name": "perk_the_hunter_name",
        "description": "perk_the_hunter_description"
      },
      "position": [
        0,
        0
      ],
      "children": [
        "common_ranged_bonus_1"
      ],
      "unlocks": {
        "stats": {
          "isl_precision": {
            "multiplier": 1.15
          },
          "isl_evasion": {
            "multiplier": 1.15
          }
        }
      }
    },
    "common_ranged_bonus_1": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        50,
        0
      ],
      "children": [
        "common_ranged_bonus_2"
      ]
    },
    "common_ranged_bonus_2": {
      "type": "bonus",
      "bonusType": "precision",
      "position": [
        85,
        0
      ],
      "children": []
    }
  },
  "children": {}
}
